/NB_HolaMundoJava/nbproject/private/
/NB_HolaMundoJava/build/
/caracteresEspeciales/nbproject/private/
/caracteresEspeciales/build/
/CaracteresEspeciales/nbproject/private/
/CaracteresEspeciales/build/
/ClaseScanner/nbproject/private/
/ClaseScanner/build/
/EjDetallesLibro/nbproject/private/
/EjDetallesLibro/build/
/Primitivos/nbproject/private/
/Primitivos/build/
/Sec3TipoNumerosEnteros/nbproject/private/
/Sec3TipoNumerosEnteros/build/
