/NB_HolaMundoJava/nbproject/private/
/NB_HolaMundoJava/build/
/caracteresEspeciales/nbproject/private/
/caracteresEspeciales/build/
/CaracteresEspeciales/nbproject/private/
/CaracteresEspeciales/build/
/ClaseScanner/nbproject/private/
/ClaseScanner/build/
